{% load menu_tags cache %}

{% for child in children %}
<li class="child
	{% if child.ancestor %} ancestor{% endif %}
	{% if child.selected %} active{% endif %}
	{% if child.children %} children{% endif %}
	{% if forloop.first %} first{% endif %}
	{% if forloop.last %} last{% endif %}">
	<a href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>{% if child.children %}
	<ul>
		{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
	</ul>
	{% endif %}
</li>
{% endfor %}