*.pyc
*.pyo
*~
.hg
.git
.svn
.DS_Store
.settings
.project
.pydevproject
.installed.cfg
.mr.developer.cfg
.idea

/tmp
/env
.sass-cache

/src/settings_local*.py
/requirements_local*.txt

/requirements_local.txt-example
/locale/