//######################################################################################################################
// #GLOBAL INCLUDES#

// importing libraries
@import "libs/normalize", "libs/960gs", "libs/divio";
@import "compass/css3", "compass/utilities";
// importing project partials
@import "includes/partials/header","includes/partials/footer", "includes/partials/forms", "includes/partials/mobile",
		"includes/partials/retina", "includes/partials/fonts", "includes/partials/print";
@import "includes/custom";

//######################################################################################################################
// #GLOBAL VARIABLES#

$font-family:					"PT Sans","Helvetica Neue",Helvetica,sans-serif;
$font-color:					#666;
$font-size:						14px;
$line-height:					lh($font-size); // calculating line-height: round($font-size * 1.5)

// colors primary
$color-primary:					#ff9100;
$color-secondary:				#4d4d4d;
$color-link:					$color-primary;
$color-title:					$color-secondary;

// colors messages
$color-muted:					#006699;
$color-info:					#006699;
$color-error:					#d92400;
$color-warning:					#e5d200;
$color-success:					#00cc00;

// colors misc
$color-background:				#fff;
$color-border:					#e0e0e0;
$color-even:					#e6e6e6;
$color-odd:						#e9e9e9;

// icons
$icon-size:						16px;
$icon-space:					5px;

// forms
$input-font-size:				14px;
$input-font-color:				#555;
$input-line-height:				18px; // should not pass 18px!

$input-width:					200px;
$input-border:					#ccc;
$input-background:				#f7f7f7;
$input-focus:					$color-primary;

$form-ratio-left:				25%;
$form-ratio-right:				70%;
$form-ratio-space:				5%; // needs to add to 100%

// responsive
$responsive-tablet:				720px; // required in px
$responsive-desktop:			960px; // required in px

// 960 grid system
$ninesixty-columns:				24;
$ninesixty-class-separator: 	"-";

// pie settings
$pie-behavior:					stylesheet-url("PIE.htc");
$experimental-support-for-pie:	true;

//######################################################################################################################
// #BASE/imports#
// @import "plugins/_lightbox";

//######################################################################################################################
// #BASE/mobile#
@mixin responsive-mobile() {
	// load frameworks
	@include normalize();
	@include divio-boilerplate();

	// set custom helpers
	.visible-phone { display:block; }
	.visible-tablet { display:none; }
	.visible-desktop { display:none; }
	.hidden-phone { display:none; }
	.hidden-tablet { display:block; }
	.hidden-desktop { display:block; }

	// load includes
	@include site-fonts();
	@include site-header();
	@include site-footer();
	@include site-forms();
	@include site-custom();
	// load plugins

// end of mixin
}

//######################################################################################################################
// #BASE/tablet#
@mixin responsive-tablet() {
	// load narrow grid
	$ninesixty-gutter-width: 10px;
	$ninesixty-grid-width:	 720px;
	@include grid-system-complete($ninesixty-columns);

	// set custom helpers
	.visible-phone { display:none; }
	.visible-tablet { display:block; }
	.visible-desktop { display:none; }
	.hidden-phone { display:block; }
	.hidden-tablet { display:none; }
	.hidden-desktop { display:block; }

	// load includes
	@include site-header-tablet();
	@include site-footer-tablet();
	@include site-forms-tablet();
	@include site-custom-tablet();
	// load plugins

// end of mixin
}

//######################################################################################################################
// #BASE/desktop#
@mixin responsive-desktop() {
	// load full grid
	$ninesixty-gutter-width: 20px;
	$ninesixty-grid-width:	 960px;
	@include grid-system-complete($ninesixty-columns);

	// set custom helpers
	.visible-phone { display:none; }
	.visible-tablet { display:none; }
	.visible-desktop { display:block; }
	.hidden-phone { display:block; }
	.hidden-tablet { display:block; }
	.hidden-desktop { display:none; }

	// load includes
	@include site-header-desktop();
	@include site-footer-desktop();
	@include site-forms-desktop();
	@include site-custom-desktop();
	// load plugins

// end of mixin
}