{% load i18n standard_form %}{% spaceless %}
<div id="frm_{{ form_model.name|slugify }}-anchor" class="plugin_contactform">
<div class="frm_desc">
	<h4>{% if form_model.title %}{{ form_model.title }}{% else %}{{ form_model.name }}{% endif %}</h4>
	<p class="nospace">&nbsp;</p>
{% if success %}
	{% if form_model.success_message %}<p>{{ form_model.success_message|safe }}</p>{% endif %}
{% else %}
	{% if form_model.description %}<p>{{ form_model.description|safe }}</p>{% endif %}
{% endif %}
</div>
{% if not success %}
<form action="#{{ form_model.name|slugify }}" method="post" enctype="multipart/form-data" class="frm{% if form_model.css_class %} {{ form_model.css_class }}{% endif %}">
	{% csrf_token %}
	{% if form.errors %}
	<ul class="error">
		<li class="title">{% if error_message_title %}{{ error_message_title }}{% else %}{% trans "Error messages:" %}{% endif %}</li>
		{% for field in form %}{% if field.errors %}{% for error in field.errors %}
		<li><em>{{ field.label }}</em>: {{ error }}</li>
		{% endfor %}{% endif %}{% endfor %}
	</ul>
	{% endif %}
	<fieldset class="frm-horizontal">
		<ol>
			{% standard_form form %}
			<li>
				<label class="empty">&nbsp;</label>
				<div class="field"><input type="submit" class="btn" value="{{ form_model.get_submit_label }}" name="{{ form_model.get_submit_label }}" /></div>
			</li>
		</ol>
		<input class="hidden" type="hidden" name="contactform_id" value="{{ form_model.id }}"/>
	</fieldset>
</form>
{% endif %}
</div>
{% endspaceless %}