@mixin site-forms() {
//######################################################################################################################
// #FORMS#

.frm {
	// add styles here
}

//##################################################
// #FORMS/buttons#

.btn, input.btn, button.btn {
	font:normal 400 #{$input-font-size}/#{$input-line-height} $font-family;
	@include inline-block(); text-decoration:none !important;
	padding:6px 15px; margin:0 0 10px;
	border:$color-border; background:$color-background;
	@include border-radius(3px);

	&:hover, &:focus, &:active {}
	&:active {}
}

.btn-small, input.btn-small, button.btn-small { font-size:13px; }
.btn-large, input.btn-large, button.btn-large { font-size:18px; }

// end of mixin
}

@mixin site-forms-tablet() {
//######################################################################################################################
// #FORMS#

// end of mixin
}

@mixin site-forms-desktop() {
//######################################################################################################################
// #FORMS#

// end of mixin
}