@mixin responsive-mobile-only() {
//######################################################################################################################
// #MOBILE-ONLY#

// #MOBILE-ONLY/tables#
.tbl-responsive {
	display:block;

	thead { display:block; float:left; }
	tfoot, caption { display:none; }
	tbody { display:-webkit-box; overflow-x:auto; }
	th, tr, td { display:block; }
}

// end of mixin
}