@mixin responsive-mobile-only() {
//######################################################################################################################
// #MOBILE-ONLY#

// #MOBILE-ONLY/tables#
.tbl-responsive {
	width:100%; margin:0 0 20px; overflow-x:auto;

	&::-webkit-scrollbar { width:15px; background:#fafafa; }
	&::-webkit-scrollbar-thumb { border-radius:10px; border:4px solid #fafafa; background:#c1c1c1; }

	table { margin:0 !important; }
}

// end of mixin
}