@media (max-width: $responsive-tablet - 1) {
//######################################################################################################################
// #MOBILE#

// #MOBILE/tables#
.tbl-responsive {
	width:320px; margin:0 0 20px; overflow:auto;

	&::-webkit-scrollbar { width:15px; background:#fafafa; }
	&::-webkit-scrollbar-thumb { border-radius:10px; border:4px solid #fafafa; background:#c1c1c1; }

	table { margin:0 !important; min-width:600px; }
}

// end of mobile
}