@media all {
//######################################################################################################################
// #MOBILE#

// #BASE/vertical-rythm#
h1 { font-size: 32px; line-height:40px; }
h2 { font-size: 28px; line-height:34px; }
h3 { font-size: 24px; line-height:30px; }
h4 { font-size: 20px; line-height:26px; }
h5 { font-size: 18px; line-height:24px; }
h6 { font-size: 16px; line-height:20px; }
h1, h2, h3 { margin: 0 0 round($line-height/2) 0; }
h4, h5, h6 { margin: 0 0 round($line-height/4) 0; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; color: $color-title; }

.content { padding:30px 0; min-height:500px; background:white; }
.feature { margin-bottom:30px; background:#f0f0f0; }

.box { padding:15px 20px; margin:0 0 $content-space; @include border-radius(3px); background:$content-box;
	p:last-child { margin:0; }
}

//##################################################
// #CUSTOM/header#
.header {
	position:relative; padding:0; height:80px; background:white;
	@include box-shadow(0 0 5px 0px rgba(black, 0.10));

	// logo
	.logo-main { position:absolute; left:0; top:10px; padding:0; margin:0;
		a { float:left; @include hide-text(); width:200px; height:60px;
			background:url('../img/logo-main.png') no-repeat left top; }
		img { display:none; }
	}
}

//##################################################
// #CUSTOM/toolbar#
.toolbar {
	width:100%; height:31px; color:#ccc; background:#3f3e3e;

	.metanav { float:right;
		ul { list-style-type:none; padding:0; margin:0; }
		li { font-size:12px; line-height:32px; color:#ccc; @include inline-block(); padding:0; margin-left:10px; }
		a { color:#f0f0f0; }

		.active { text-decoration:underline; }
		.langnav { text-transform:uppercase; }
	}

	// search
	.frm-search { position:absolute; right:0; top:0; margin:0; }
	.frm-search {
		legend { display:none; }
		fieldset { padding:1px 1px 0; padding-left:4px; margin:5px; background:#656464; }

		.input-text { float:left; color:#ccc; padding:1px 0 0; width:115px; margin:0; border:none; background:none; }

		.btn-search { @include hide-text(); width:20px; height:20px; padding:0 !important; margin:-2px 0 0 !important;
			border:none; background:url('../img/shop/btn-search.png') no-repeat left top; }
		.btn-search:hover { background-color:#fff; }
	}
}

//##################################################
// #CUSTOM/footer#
.footer {
	color:#808080; padding:25px 0; margin:0; border-top:1px solid #e0e0e0; background-color:#f0f0f0;

	a { color:#000; }
	a:focus, a:active, a:focus { text-decoration:underline; }

	.copyright { font-size:12px; line-height:lh(12px); margin:0; }

	.footnav { font-size:12px; line-height:12px; }
	.footnav {
		ul { list-style-type:none; padding:0; margin:0 0 10px; }
		li { @include inline-block(); padding:0 0 0 10px; margin:0 0 0 10px; border-left:1px solid #b3b3b3; }
		li:first-child { border:none; padding-left:0; margin-left:0; }
	}
}

//##################################################
// #CUSTOM/breadcrumb#
.breadcrumb { margin:0; background:$content-box;
	ol {
		list-style-type:none; font-size:12px; padding:2px 0; margin:2px 0;
		li { padding:0; @include inline-block(); }
		li.title { display:none; }
		li a, li span { color:$font-color; }
		.separator { color:#999; margin:0 5px; }
	}
}

//##################################################
// #CUSTOM/messages#
.messages {
	margin-top: 0; margin-bottom: 30px;
	.message { padding:10px 15px; border-bottom:1px solid #3f3e3e; border-top:1px solid #3f3e3e; background-color:#3f3e3e; }
	.text-error { border-color: $color-error; background-color:lighten($color-error, 50%);
		color: darken($color-error, 10%); }
	.text-success { border-color: $color-success; background-color:lighten($color-success, 50%);
		color: darken($color-success, 10%); }
	.text-warning { border-color: $color-warning; background-color:lighten($color-warning, 50%);
		color: darken($color-warning, 20%); }
	.text-info { border-color: $color-info; background-color:lighten($color-info, 50%);
		color: darken($color-info, 10%); }
}

//##################################################
// #CUSTOM/pagenav#
.pagenav {
	text-align:center; margin:10px 0;
	ul, ol {
		list-style-type:none; padding:0; margin:0;
		li {
			@include inline-block();
			a, span { color: $font-color; font-size: 14px; line-height: 21px; text-decoration: none;
				padding: 2px 8px; margin: 0 3px; min-width: 10px; background: #eee;
				@include inline-block(); @include border-radius(2px); }
			&.active a, &.active span, a:hover, a:focus { background: $color-primary; color: #fff; }
		}
		.jumper a { background:none !important; padding:2px 0; }
		.jumper a:hover, .jumper a:focus { color:#000; }
	}
}

//##################################################
// #CUSTOM/tabnav#
.tabnav {
	margin: 0 0 30px 0;
	> ul {
		list-style: none; padding: 0; margin: 0; border-bottom: 4px solid #3e3e3e;
		li {
			@include inline-block(); margin: 0 2px 3px 0; padding: 0;
			a {
				display: block; font-size: 16px; padding: 10px 15px; color: #333; background: #ebebeb;
				&:hover, &:focus, &:active { text-decoration: none; background: #ddd; }
			}
			&.active {
				margin-bottom: 0;
				a { background: #3e3e3e; color: #fdfdfd; padding-top: 13px; padding-bottom: 13px; }
			}
		}
	}
}

//##################################################
// #CUSTOM/blog#
.plugin-blog {
	.blog-items, .blog-archive, .blog-tags { list-style-type:none; padding:0; margin:0;
		li { padding:0; }
	}

	.blog-items {
		li { margin:25px 0; @include clearfix(); }

		h3 { font-size:16px; line-height:24px; text-transform:uppercase; font-weight:600; margin:0; }
		p { margin:0; }

		.blog-visual { float:left; padding:5px 25px 0 0; line-height:0; }
		.blog-date { color:$color-grey-light; }
		.blog-lead a { text-decoration:underline; }
	}

	// .blog-detail .blog-lead { font-size:20px; line-height:30px; }

	.blog-archive { margin-bottom:$content-space;
		a { display:block; padding:5px 0; border-bottom:1px solid $content-border; }
		a span { color:$color-grey-light; }
		// month
		ul { padding:5px 0; border-bottom:1px solid lighten($content-border, 10%); }
		ul li { display:inline; }
		ul a { display:inline; padding-right:5px; border:none; }
	}

	.blog-tags { margin:0 0 $content-space;
		li { display:inline; }
		a { padding-right:5px; }
		a span { color:$color-grey-light; }
		// tags
		.news-tag-1 { font-size:100%; }
	}

	.blog-authors { padding-top:20px;
		h2 { font-size:18px; line-height:24px; padding:0 0 10px; border-bottom:1px solid #ccc; }
	}
}








//##################################################
// #CUSTOM/icons#
.icon-arrow-left { background-image:url('../img/icons/arrow-left.png'); }
.icon-arrow-right { background-image:url('../img/icons/arrow-right.png'); }
.icon-collapse { background-image:url('../img/icons/collapse.png'); }
.icon-download { background-image:url('../img/icons/download.png'); }
.icon-expand { background-image:url('../img/icons/expand.png'); }
.icon-info { background-image:url('../img/icons/info.png'); }
.icon-print { background-image:url('../img/icons/print.png'); }
.icon-question { background-image:url('../img/icons/question.png'); }

//##################################################
// #CUSTOM/boxes#

// #CUSTOM/custom#
.mobile_overflow_wrap { min-width: 300px; overflow: auto; }

.arrow-back { padding-left: 16px; background: url('../img/icons/arrow-back.png') 0 40% no-repeat; }
.break { border-bottom: 1px solid $color-border; margin: $line-height 0; }
.break-bold { border-bottom-width: 2px; border-color: #e5e5e5; }
.break-half { margin: round($line-height/2) 0; }
.linebottom { border-bottom: 1px solid $color-border; margin-bottom: 10px; }

// tables
table {
	width: 100%; border: 1px solid $color-border; border-bottom: none; border-right: none;
	td, th { padding: 5px 10px; border: 1px solid $color-border; border-left: none; border-top: none; }
	th { background-color: #f3f3f3; font-size: 16px; text-align: left; font-weight: 400; }
	caption { text-align:left; }
}
.tbl-alternate { tr:nth-child(even) { background-color: #fafafa; } }
.tbl_nostyle, .tbl-empty {
	width: 100%; border: none;
	td, th { padding: 0; border: none; background: none; }
	tr { background: none; }
}

.pt-sans { font-family:$font-family; }

// TODO for testing
.container-24 > div img { max-width:100%; height:auto !important; }

//##################################################
// #CUSTOM/subnav#
.subnav { border-top:1px solid $color-border; }
.subnav {
	ul { list-style: none; padding: 0; margin: 0; }
	> ul {
		// all level links
		li a {
			display: block; color: $font-color; font-size: 14px; padding: 0; text-decoration: none;
			border-bottom: 1px solid $color-border; position: relative;
			&:hover, &:focus {
				color: $color-primary;
			}
			&:active {  }
		}
		li a span { display:block; background:url('../img/icons/arrow-subnav.png') no-repeat right center;
			padding: 8px 14px 8px 4px; }
		li a span:hover { background:url('../img/icons/arrow-subnav-active.png') no-repeat right center; }

		li.ancestor > a {}
		li.active > a {
			background-color: #fafafa; color: $color-primary;
		}
		> li {
			// first level links
			> a { color: #4d4d4d; font-size: 16px; line-height: 24px;
				> span { padding-top: 9px; padding-bottom: 9px; }
			}
			> ul {
				li {
					// second+ level links
					margin-left: 15px;
				}
			}
		}
	}
}

.sidebar .subnav { margin-bottom: 20px; }

.navigation-title {
	padding: 8px 0; margin: 0; font-size: 18px; line-height: 24px;
	&, a { color: $font-color; }
}
.page-title {
	font-size: 28px; line-height: 40px; margin: 0 0 12px 0; border-bottom: 1px solid $color-border;
}
















// end of mobile
}

@media (min-width: $responsive-tablet) {
//######################################################################################################################
// #TABLET#

// #CUSTOM/mainnav#
.mainnav { float:right; margin-top:16px; margin-right:-10px;
	ul { list-style-type:none; padding:0; margin:0; }
	li { padding:0; font-size:16px; line-height:20px; }
	a { display:block; color:#666; text-decoration:none; }

	// first level
	> ul > li { position:relative; padding:14px 0; margin:0 0 0 25px;
		@include inline-block(); border-bottom:2px solid transparent;
		&.last { margin-right:0; }
		&.active, &.ancestor { color:#4d4d4d; border-bottom-color:$color-primary; }

		> a { padding:7px 10px; }
		> a:hover, a:focus, a:active { color:$color-primary; }

		&.children:hover {
			ul { display:block; }
			> a { background: $color-primary; color: #fff; @include border-radius(2px 2px 0 0); }
		}
	}

	// second level
	ul li > ul {
		display:none; position:absolute; left:0; top:48px; z-index:200;
		min-width:150px; @include border-radius(0 2px 2px 2px); background:$color-primary;

		a { color:white; font-size:14px; line-height:20px; padding:7px 25px 7px 15px; margin:0;
			border-bottom:1px solid #ffbd66; @include text-shadow(0 1px 1px rgba(0,0,0,0.1));
			&:hover, &:focus, &:active { background-color:#ff9e1f; }
		}
		li:last-child a { border:none; }
		li.active a, li.ancestor a { background-color:#ff9e1f; }
	}
}

// end of tablet
}

@media (min-width: $responsive-desktop) {
//######################################################################################################################
// #DESKTOP#

// end of desktop
}