<!doctype html>{% load i18n static compress sekizai_tags %}
<html>
<head>
	<meta charset="utf-8" />
	<!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->
	<title>{% block title %}{% spaceless %}
		{% endspaceless %}{% block title_prefix %}{% page_attribute page_title %}{% endblock title_prefix %}{% spaceless %}
		{% endspaceless %}{% block title_extra %}{% endblock title_extra %}{% spaceless %}
		{% endspaceless %}{% block title_suffix %}{% if site_settings.site.name %} - {{ site_settings.site.name }}{% endif %}{% endblock title_suffix %}{% spaceless %}
	{% endspaceless %}{% endblock title %}{% spaceless %}</title>{% endspaceless %}
	<!-- meta tags -->{% spaceless %}
	{% endspaceless %}
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	{% block meta_tags %}
	<meta name="description" content="{% page_attribute "meta_description" %}" />
	<meta name="keywords" content="{% page_attribute "meta_keywords" %}" />
	{% endblock meta_tags %}
	<!-- link icons -->
	<link rel="apple-touch-icon" href="{% static "favicon_apple.png" %}">
	<link rel="icon" href="{% static "favicon.png" %}">
	<link rel="image_src" href="{% static "favicon.png" %}" />
	<!--[if IE]><link rel="shortcut icon" href="{% static "favicon.ico" %}"><![endif]-->
	<!-- stylesheets -->
	{% if not request.GET.classic %}{% compress css %}<link rel="stylesheet" href="{% static "css/base.css" %}" />{% endcompress %}
	{% else %}{% compress css %}<link rel="stylesheet" href="{% static "css/base-classic.css" %}" />{% endcompress %}{% endif %}
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="{% static "css/base-classic.css" %}" />
	<script src="{% static "js/libs/html5.min.js" %}"></script>
	<![endif]-->
	{% block extrahead %}{% endblock extrahead %}
	{% render_block "css" %}
</head>
<body id="top" class="no-js {% block body_class %}tpl-root{% endblock %} lang-{{ LANGUAGE_CODE }}">
<!--[if lte IE 7]><div class="ie7"><![endif]-->
<!--[if IE 8]><div class="ie8"><![endif]-->
<!--[if IE 9]><div class="ie9"><![endif]-->
{% block cms_toolbar %}{% cms_toolbar %}{% endblock %}

<!-- start: base -->
{% block extend_root %}{% endblock %}
<!-- end: base -->

<!--[if lte IE 9]></div><![endif]-->
<!-- start: javascript -->
{% compress js %}
<script src="{% static "js/libs/jquery.min.js" %}"></script>
<script src="{% static "js/libs/class.min.js" %}"></script>
<script src="{% static "js/plugins/jquery.mbp.js" %}"></script>
<script src="{% static "js/plugins/jquery.functions.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
{% endcompress %}
{% if debug %}
<script src="{% static "js/libs/console.min.js" %}"></script>
<script src="{% static "js/plugins/cl.debug.min.js" %}"></script>
<script>new Cl.Debug();</script>
{% endif %}
{% render_block "js" %}
{% if GOOGLE_ANALYTICS_ID %}{% include "includes/analytics.html" %}{% endif %}
<!-- end: javascript -->
<noscript><p class="noscript">{% trans "Please activate JavaScript to enable all features." %}</p></noscript>
<!--[if lte IE 7 ]>
<p class="chromeframe">
{% blocktrans %}You are using an <strong>outdated</strong> browser.
Please <a href="http://browsehappy.com/">upgrade your browser</a>
or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
to improve your experience.{% endblocktrans %}
</p>
<![endif]-->
</body>
</html>