{% extends "base.html" %}
{% load i18n cms_tags menu_tags %}

{% block body_class %}tpl-sidebar-right{% endblock %}

{% block extend_base %}
<div class="row">
    <div class="medium-17 column">
        {% block content %}
        {% with 660 as width %}{% placeholder content %}{% endwith %}
        {% endblock content %}
    </div>
    <aside class="medium-7 column sidebar">
        {% block subnav %}
        {% page_attribute menu_title request.current_page.get_root as subtitle %}
        {% with class="subnav" title=subtitle %}{% show_menu 1 5 0 1 "includes/menu/navigation.html" %}{% endwith %}
        {% endblock subnav %}

        {% block sidebar %}
        {% with 260 as width %}{% placeholder sidebar %}{% endwith %}
        {% endblock sidebar %}
    </aside>
</div>
{% endblock extend_base %}