{% extends "standardsite.html" %}
{% load i18n cms_tags menu_tags %}

{% block body_class %}tpl-sidebar-right{% endblock %}

{% block extend_base %}
<div class="row">
	<div class="large-18">
		{% block content %}
		{% with 700 as width %}{% placeholder content %}{% endwith %}
		{% endblock content %}
	</div>
	<aside class="large-6 sidebar">
		{% block subnav %}
		<!-- sub navigation -->
		<nav class="subnav">
			<ul>{% spaceless %}{% show_menu 1 5 0 1 "includes/menu/navigation.html" %}{% endspaceless %}</ul>
		</nav>
		{% endblock subnav %}
		{% block sidebar %}
		{% with 220 as width %}{% placeholder sidebar %}{% endwith %}
		{% endblock sidebar %}
	</aside>
</div>
{% endblock extend_base %}