// @media all {
//######################################################################################################################
// #ICONS#

// #ICONS/face#
@font-face {
    font-family:"icons";
    font-weight:normal;
    font-style: normal;
    src:url("../fonts/icons.eot");
    src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/icons.ttf") format("truetype"),
        url("../fonts/icons.woff") format("woff"),
        url("../fonts/icons.svg#icons") format("svg"); // #icons has to be equal to the projects name
}

// #ICONS/helpers#
.icon:before, .icon:after { font:normal normal normal $icon-size "icons" !important;
    content:attr(data-icon);
    text-transform:none !important;
    text-decoration:none !important;
    speak:none;
    line-height:1;
    @include font-smoothing();
    @include inline-block();
    position:relative; top:$icon-offset;
}
.icon:before { padding-right:$icon-space; }
.icon:after { display:none; }
.icon-after:before { display:none; }
.icon-after:after { display:inline-block; padding-left:$icon-space; }

// #ICONS/icons#
.icon-arrow-top:before { content:"f"; }
.icon-arrow-right:before { content:"g"; }
.icon-arrow-bottom:before { content:"h"; }
.icon-arrow-left:before { content:"i"; }

.icon-accept:before { content:"d"; }
.icon-close:before { content:"e"; }
.icon-collapse:before { content:"k"; }
.icon-download:before { content:"q"; }
.icon-expand:before { content:"j"; }
.icon-facebook:before { content:"m"; }
.icon-google:before { content:"o"; }
.icon-info:before { content:"a"; }
.icon-print:before { content:"p"; }
.icon-question:before { content:"b"; }
.icon-refresh:before { content:"y"; }
.icon-rss:before { content:"l"; }
.icon-twitter:before { content:"n"; }
.icon-warning:before { content:"c"; }

// end of fonts
// }