//######################################################################################################################
// #MIXINS#

// em calculation
@function em($target, $context: $font-size) {
    @if $target == 0 { @return 0 }
    @return $target / $context + 0em;
}

// line height calculation
@function lh($line-height, $line-height-ratio: 1.5) {
    @if $line-height == 0 { @return 0 }
    @return round($line-height * $line-height-ratio);
}

// font-smoothing
@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// add micro-clearfix which doesnt add overflow:hidden
@mixin micro-clearfix() {
    @extend .clearfix;
}

// add placeholder font color for input
@mixin placeholdercolor($color) {
    &::-webkit-input-placeholder { color: $color; }
    &:-moz-placeholder { color: $color; }
    &::-moz-placeholder { color: $color; }
    &:-ms-input-placeholder { color: $color; }
}

// Hides text in an element so you can see the background.
@mixin hide-text {
    $approximate_em_value: 12px / 1em;
    $wider_than_any_screen: -9999em;
    text-indent: $wider_than_any_screen * $approximate_em_value;
    overflow: hidden;
    text-align: left;
}

// Keyframe mixin
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// end of mixins
