@media (max-width: $responsive-tablet - 1) {
//######################################################################################################################
// #MOBILE#

// #MOBILE/tables#
.table-responsive {
    width:100%;
    overflow-x:scroll; overflow-y:hidden;
    -ms-overflow-style:-ms-autohiding-scrollbar;
    -webkit-overflow-scrolling:touch;

    &::-webkit-scrollbar { width:15px; background:#fafafa; }
    &::-webkit-scrollbar-thumb { border-radius:10px; border:4px solid #fafafa; background:#c1c1c1; }

    th, td { white-space:nowrap; }
}

// end of mobile
}