@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx) {
//######################################################################################################################
// #RETINA#

// .header .logo-main a { background-image:url('../img/logo-main@2x.png'); background-size:200px; }

// end of retina
}