// #####################################################################################################################
// #LIGHTBOX#

// example template for additional addons
// use the beginning to add useful documentation
